html, body {
  height: 100%;
}

#headerSection {
  height: 10%;
  text-align: center;
  background-color: lightblue;
  padding: 10px 0;
}

#mainSection {
  height: 70%;
  display: flex;
}

#footerSection {
  height: 10%;
  background-color: lightblue;
  text-align: center ;
  padding: 20px 20px;
}

.leftPanel {
  flex: 1;
  background-color: lightcyan;
}

.rightPanel {
  flex: 1;
  background-color: beige;
}