html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#myView{
  width: 100%;
  height: 80%;
}

.esri-widget--panel{
  width: 200px !important;
}

#featureTable {
  width: 100%;
  height: 20%;
}

#query {
  position: fixed;
  bottom: 20px;
  left: 10px;
}
