{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Map of Airports</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
</head>
<body>
  
  <h2>Philippines Map with Popups</h2>
  <div id="map"></div>
  
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{% static 'js/app.js' %}"></script>


</body>
</html>