* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#myMap {
  position: absolute;
  top: 56px; 
  bottom: 0;
  left: 0;
  right: 0;
}


